.card {
  width: 200px;
  background-color: #026635;
  border: solid 1px #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  p {
    margin: 5px 0;
  }
}

.card__image {
  height: 130px;
  max-width: 190px;
}

.card__title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: unset;
}

.card__description {
  font-size: 12px;
}

